body{
    margin-left:50px;
    margin-right:50px;
    background-image: url('images/background.png');
    height:1080px;
}
.jumbotron{
    background-color: rgba(52, 73, 94, 0.7);
    box-shadow: 5px 5px 5px #000;
}
#jumbotrontext{
    margin-left:10px;
    color:whitesmoke;
}
.nav{
    margin-left:10px;
    color:whitesmoke;
}
a{
    color:whitesmoke;
}
.klant_inf p{
    font-size:1.5em;
    padding:10px;
}
.klant_inf h1{
    padding:10px;
}
.klant_inf{
    color: black;

    margin-left:10px;
    border-radius: 5px;
}
#index_img{
    clear:both;
    float:left;
}
.col-lg-3{
    height:250px;
    color: #080816;
}
.col-lg-3 p{
    padding-top:10%;
    font-size:1.4em;
    clear:both;
    float:left;
    color:whitesmoke;
}
hr{
    background-color: #7f8c8d;
    height: 3px;
    margin: 10px;
}
.fa-check{
    color: #27ae60;
}
.fa-warning{
    color: #e74c3c;
}
.panel-footer{
    background-color: rgba(52, 73, 94, 0.7);
    color:whitesmoke;
    text-align:center;
    margin-top:7.5%;
    border: solid 2px rgba(22, 30, 45, 0.7);

}
.btn-primary, .btn-danger, .btn-success{
    margin-top:10px;
    font-size:1.5em;
}
.panel{
    box-shadow: 5px 5px 15px #000;
    border-radius: 10px;

}
.fa-globe{
    color:#337ab7;
}
.fa-mobile{
    color:#d9534f;
}
.fa-television{
    color:#5cb85c;
}
#klantinfobtn{
    margin-bottom:35px;
}
.footer{
    color:whitesmoke;
    text-align: center;
}
#chickengif{
    height:75%;
    width:75%;
}
#snoop{
    height:45%;
    width:45%;
}
#egg {
    display: inline-block;
    width: 12px;
    height: 18px;
    background-color: #ffffff;
    -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
    border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
    margin-bottom: -5px;
}